<div class="stronghold-control_panel">
    <div class="" data-ng-show="!!ctrl.status && ctrl.mode === 'simple'">
        <button data-ng-hide="ctrl.isEverythingHidden()" data-ng-click="ctrl.hideEverything()">Hide everything</button>
        <button data-ng-hide="ctrl.isEverythingRestored()" data-ng-click="ctrl.restoreEverything()">Restore everything</button>
        <button data-ng-click="ctrl.mode = 'advanced'">Advanced...</button>
    </div>
    <table data-ng-show="!!ctrl.status && ctrl.mode === 'advanced'">
        <tr>
            <td colspan="2" class="param">Plugins root dir</td>
        </tr>
        <tr data-ng-class="{secure: !!ctrl.status.wpPluginsRootMoved, insecure: !ctrl.status.wpPluginsRootMoved}">
            <td class="value">{{ctrl.status.wpPluginsRootDir}}</td>
            <td class="controls">
                <button data-ng-click="ctrl.hidePluginsRoot()" data-ng-hide="ctrl.status.wpPluginsRootMoved">Hide</button>
                <button data-ng-click="ctrl.restorePluginsRoot()" data-ng-show="ctrl.status.wpPluginsRootMoved">Restore</button>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="param">Plugins</td>
        </tr>
        <tr data-ng-repeat="(plugin, alias) in ctrl.status.wpPlugins" data-ng-class="{secure: '*' === plugin && alias === 'hidden' || '*' !== plugin && !!alias, insecure: '*' === plugin && alias === 'restored' || '*' !== plugin && !alias}">
            <td class="value">{{'*' === plugin? 'All plugins': plugin + (alias && ' [' + alias + ']')}}</td>
            <td class="controls">
                <button data-ng-hide="'*' === plugin && alias === 'hidden' || '*' !== plugin && !!alias" data-ng-click="ctrl.hidePlugin(plugin)">Hide</button>
                <button data-ng-hide="'*' === plugin && alias === 'restored' || '*' !== plugin && !alias" data-ng-click="ctrl.restorePlugin(plugin)">Restore</button>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="param">Themes root dir</td>
        </tr>
        <tr data-ng-class="{secure: !!ctrl.status.wpThemesRootMoved, insecure: !ctrl.status.wpThemesRootMoved}">
            <td class="value">{{ctrl.status.wpThemesRootDir}}</td>
            <td class="controls">
                <button data-ng-click="ctrl.hideThemesRoot()" data-ng-hide="ctrl.status.wpThemesRootMoved">Hide</button>
                <button data-ng-click="ctrl.restoreThemesRoot()" data-ng-show="ctrl.status.wpThemesRootMoved">Restore</button>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="param">Themes</td>
        </tr>
        <tr data-ng-repeat="(theme, alias) in ctrl.status.wpThemes" data-ng-class="{secure: '*' === theme && alias === 'hidden' || '*' !== theme && !!alias, insecure: '*' === theme && alias === 'restored' || '*' !== theme && !alias}">
            <td class="value">{{'*' === theme? 'All themes': theme + (alias && ' [' + alias + ']')}}</td>
            <td class="controls">
                <button data-ng-hide="'*' === theme && alias === 'hidden' || '*' !== theme && !!alias" data-ng-click="ctrl.hideTheme(theme)">Hide</button>
                <button data-ng-hide="'*' === theme && alias === 'restored' || '*' !== theme && !alias" data-ng-click="ctrl.restoreTheme(theme)">Restore</button>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="">
                <button data-ng-click="ctrl.mode = 'simple'">Back to simple mode</button>
            </td>
        </tr>
    </table>
</div>