.stronghold-control_panel tr > .param {
  padding-top: 1em;
  border-bottom: 1px solid black;
  font-weight: bold;
}
.stronghold-control_panel tr > .value {
  padding-right: 1em;
}
.stronghold-control_panel tr.secure > .value {
  color: darkgreen;
}
.stronghold-control_panel tr.insecure > .value {
  color: maroon;
}
.stronghold-control_panel tr > .controls {
  text-align: right;
}
