.stronghold-control_panel{
    tr{


        & > .param{
            padding-top: 1em;
            border-bottom: 1px solid black;
            font-weight: bold;
        }


        & > .value{
            padding-right: 1em;
        }

        &.secure > .value{
            color: darkgreen;
        }

        &.insecure > .value{
            color: maroon;
        }

        & > .controls{
            text-align: right;
        }
    }
}